OrderApp/Connected Services/DishService/DishService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DishService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49904/DishService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49904/DishService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49904/DishService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wostal.WCF.Restaurant.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDishService_GetAllGroupedDishes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupedDishes" />
  </wsdl:message>
  <wsdl:message name="IDishService_GetAllGroupedDishes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupedDishesResponse" />
  </wsdl:message>
  <wsdl:message name="IDishService_SubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IDishService_SubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDishService_GetAllOrderHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderHistory" />
  </wsdl:message>
  <wsdl:message name="IDishService_GetAllOrderHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IDishService">
    <wsdl:operation name="GetAllGroupedDishes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDishService/GetAllGroupedDishes" message="tns:IDishService_GetAllGroupedDishes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDishService/GetAllGroupedDishesResponse" message="tns:IDishService_GetAllGroupedDishes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDishService/SubmitOrder" message="tns:IDishService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDishService/SubmitOrderResponse" message="tns:IDishService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDishService/GetAllOrderHistory" message="tns:IDishService_GetAllOrderHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDishService/GetAllOrderHistoryResponse" message="tns:IDishService_GetAllOrderHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDishService" type="tns:IDishService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGroupedDishes">
      <soap:operation soapAction="http://tempuri.org/IDishService/GetAllGroupedDishes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IDishService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderHistory">
      <soap:operation soapAction="http://tempuri.org/IDishService/GetAllOrderHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DishService">
    <wsdl:port name="BasicHttpBinding_IDishService" binding="tns:BasicHttpBinding_IDishService">
      <soap:address location="http://localhost:49904/DishService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>